<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Link Shorter | Index</title>

	<link rel="stylesheet" type="text/css" href="../static/css/style.css">
	<link rel="icon" type="image/png" href="../static/img/favicon.png">
</head>
<body>
	<div class="main">
		<div class="container">
			<h1>Сократить ссылку</h1>
			<p>Введите длинную ссылку ниже и нажмите на кнопку <b>Сократить</b></p>

			<form action="/create-short-link" method="post">
				<input type="text" name="link" id="link" placeholder="Ваша ссылка" required>
				<button type="submit" id="button">Сократить</button>
			</form>
		</div>
	</div>
</body>
</html>
